/* Basket Dialog */
.basket-dialog {
    background-color: #363534;
    border: none;
    border-radius: 30px 30px 0 0;

    position: fixed;
    top: auto;
    bottom: 81px;
    left: 20px;

    width: calc(100% - 40px);
    padding: 25px 16px;
}

.x-button {
    position: absolute;
    top: 22px;
    right: 25px;
    border: none;
    background: transparent;
    padding: 0;
}

.basket-dialog h3 {
    color: #FDEADC;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

.basket-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.basket-scroll {
    max-height: 38vh;
    overflow-y: auto;
    padding: 10px 10px 10px 0;
    margin-right: -10px;
}

.basket-summary {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.empty-basket {
    background-color: #FDEADC;
    color: #363534;
    border-radius: 20px;
    min-height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 700;
}

.basket-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.basket-scroll::-webkit-scrollbar {
    width: 6px;
}

.basket-scroll::-webkit-scrollbar-thumb {
    background-color: #FDEADC;
    border-radius: 10px;
}

.basket-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.basket-contents {
    background-color: #FDEADC;
    border-radius: 20px;
    padding: 16px;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basket-contents>p {
    color: #363534;
    font-size: 18px;
    font-weight: 600;
}

.contents-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-delete-buttons {
    display: flex;
    align-items: center;
}

.add-delete-buttons button {
    border: none;
    background: transparent;
    padding: 0;
    width: 24px;
    height: 29px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add-delete-buttons button img {
    display: block;
    width: 24px;
    height: 24px;
}

.add-delete-buttons button:last-child img {
    width: auto;
    height: 13px;
}

.add-delete-buttons p {
    color: #363534;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 24px;
    height: 29px;
}

.contents-footer>p {
    color: #363534;
    font-size: 20px;
    font-weight: 600;
}

.price,
.deliver-fee,
.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
}

.total-price {
    border-top: 2px solid #FDEADC;
    padding-top: 8px;
    margin-top: 2px;
}

.total-price p {
    font-size: 20px;
    font-weight: bold;
}

.buy-now {
    align-self: center;
    border: none;
    border-radius: 30px;
    background-color: #E76C1F;
    color: white;

    padding: 10px 24px;

    font-size: 18px;
    font-weight: bold;
}

/* Order Confirmed Dialog */

.order-confirmed-dialog {
    background-color: #363534;
    border: none;
    border-radius: 30px;

    position: fixed;
    left: 15px;
    top: 100px;

    width: calc(100% - 30px);
    padding: 32px 32px 40px;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.order-confirmed-dialog:not([open]) {
    display: none;
}

.order-confirmed-close-button {
    border: none;
    background: transparent;
    right: 30px;
    top: 20px;
    padding: 0;
    position: absolute;
    color: #FDEADC;
}

.delivery-content {
    color: #FDEADC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.delivery-content img {
    width: 80px;
    animation: drive 2s ease-in-out infinite;
}

@keyframes drive {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.delivery-content h4 {
    font-size: 36px;
    font-weight: 700;
}

.delivery-content p{
    font-size: 24px;
    font-weight: 700;
}


